@use '../base/colours.scss';
@use '../base/typography.scss';

.benefits{
    width: 100%;
    margin-top: 3rem;
    display: flex;
    flex-direction: column;

    &__item{
        width: 100%;
        padding: 5rem 0;

        .benefits__image{
            width: 100%;
        }

        &_content{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            place-items: center;
            width: 100%;
            padding: 0 2rem;
            background-color: colours.$very-pale-blue;

            &--disabled{
                background-color: transparent;
            }

            &--inverse{
                order: -1;
            }

            &_text{
                display: flex;
                flex-direction: column;
                row-gap: 1rem;
                width: 70%;

                &_title{
                    font: {
                        size: 3rem;   
                        family: typography.$poppins;
                    }
                    color: colours.$very-dark-cyan;
                }
                
                &_description{
                    width: 100%;
                    color: colours.$very-dark-cyan;
                    line-height: 1.5;
                    font: {
                        weight: 400;
                        family: typography.$open-sans;
                        size: 1.2rem;
                    }
                }

                &--reverse{
                    order: 1;
                }

                &--center{
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    row-gap: 2rem;
                }

            }

            &--flex{
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center; 
            }
            
            
            
            &_image {
                width: 60%;
            }
        }
    }
}